.social-box {
  max-width: 350px;
  display: flex;
  flex-wrap: nowrap;
  flex: 0 1 auto;
  justify-content: space-evenly;
  align-items: center;
  background-color: hsl(217, 19%, 35%);
  padding: 12px 0px 12px 5px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 67%;
  padding: 12px 25px;
}

.share-text {
  font-family: 'Manrope', sans-serif;
  color: hsl(212, 23%, 69%);
  font-size: 12px;
  letter-spacing: 4px;
  padding-right: 15px;
  padding-left: 15px;
}

svg {
  padding-right: 10px;
}
.box-vortex {
  width: 15px;
  height: 15px;
  background-color: hsl(217, 19%, 35%);
  transform: rotate(45deg);
  position: absolute;
  bottom: -7px;
  right: 43px;
}

.social-box-mobile {
  display: flex;
  flex-wrap: nowrap;
  flex: 0 1 100%;
  justify-content: space-evenly;
  align-items: center;
  background-color: hsl(217, 19%, 35%);
  padding: 25px 20px 25px 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  bottom: 0px;
  left:0px;
  right: 0px;
}

.share-text-mobile {
  font-family: 'Manrope', sans-serif;
  color: hsl(212, 23%, 69%);
  font-size: 16px;
  letter-spacing: 4px;
  padding-right: 20px;
}

.social-icons-mobile {
  padding-right: 20px;
}
.social__share-mobile {
  color: hsl(217, 19%, 35%);
  background-color: hsl(212, 23%, 69%);
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
}

.share__image-mobile {
  padding: 6px;
}

.hidden {
  display: none;
}