.social-box {
  max-width: 350px;
  display: flex;
  flex-wrap: nowrap;
  flex: 0 1 auto;
  justify-content: space-evenly;
  align-items: center;
  background-color: hsl(217, 19%, 35%);
  padding: 12px 0px 12px 5px;
  border-radius: 10px;
  position: absolute;
  top: 48%;
  left: 59%;
  padding: 12px 25px;
}

.share-text {
  font-family: 'Manrope', sans-serif;
  color: hsl(212, 23%, 69%);
  font-size: 12px;
  letter-spacing: 4px;
  padding-right: 15px;
  padding-left: 15px;
}

svg {
  padding-right: 10px;
}
.box-vortex {
  width: 15px;
  height: 15px;
  background-color: hsl(217, 19%, 35%);
  transform: rotate(45deg);
  position: absolute;
  bottom: -7px;
}

.hidden {
  display: none;
}